@model IEnumerable<AV2Rafael.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}
<h1>Categoria</h1>

<p>
    <a asp-action="Create">Incluir Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoria">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoria">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoria">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
